:root {
  --bg-clr1: hsl(212, 45%, 89%);
  --bg-clr2: hsl(0, 0%, 100%);
  --fg-clr1: hsl(218, 44%, 22%);
  --fg-clr2: hsl(220, 15%, 55%);
  --ffam: Outfit, sans-serif;
}

html {
  font-size: 62.5%;   /* equals 10px */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 98vh;
  font-family: var(--ffam);
  text-align: center;
  background-color: var(--bg-clr1);
}

h1 {
  font-size: 2.2rem;
  color: var(--fg-clr1);
}

p {
  font-size: 1.6rem;
  color: var(--fg-clr2);
}

h1, p {
  padding: 0 10px;
  margin: 20px auto;
}

/* for 'space-between' to take effect 
 * and place .attribution at the bottom the page */
body::before {
  content: "";
}

.qr-container {
  width: 300px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--bg-clr2);
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.1);
}

.qr-img {
  width: 100%;
  border-radius: 10px;
}
